<html>
  <head>
    <title></title>
  </head>
  <body>
	<h2 class="form-heading">Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email, class: 'form-group' %><br />
	    <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control' %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Send me reset password instructions", class: 'btn btn-default' %>
	  </div>
	<% end %>

	<div class="form-links">
		<%= render "devise/shared/links" %>
	</div>
  </body>
</html>
