<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :foursquare_id %>
  <div class="field">
    <p class="form-title"><strong>Venue</strong></p>
    <!-- < % = f.label :title %> --><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <p class="form-title"><strong>Tip</strong></p>
    <!-- < %= f.label :content, class: 'form-group' %><br> -->
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Add Tip", class: 'btn btn-default' %>
  </div>
<% end %>
